
<h1>
  Not my starter 6
</h1>
<body>
  <div class="game-row">
    <hr/>
    <div class="row" >
      <div class="col-0 col-sm-0 col-md-2">
      </div>
      <div class="col-0 col-sm-0 col-md-8">
        <div class="row" >
          <div  *ngFor="let notPokemon of notPokemons; let i = index;" class="col-12 col-sm-12 col-md-6">
            <app-pokemon-card [notPokemon]="notPokemon" (refresh)="refreshPokemon(i)"></app-pokemon-card>
    <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <mat-button-toggle (click)="refresh()">
    Reset
  </mat-button-toggle>


  <hr/>
  <h2>
    Instructions and Settings
  </h2>
  <div class="row" >
    <div class="col-0 col-sm-0 col-md-2">
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      <div>
        To do
      </div>
    </div>
  </div>

  <h2>
    Description
  </h2>
  <div class="row" >
    <div class="col-0 col-sm-0 col-md-2">
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      To do
     </div>
  </div>
  <hr>
</body>