<h1>
  Projects
</h1>
<body>
  <div class="game-row">
<!--     <div class="row" >
      <div class="col-0 col-sm-0 col-md-3">
      </div>
      <div class="col-12 col-sm-12 col-md-6"> -->
<!--         <div class="row" >
          <div class="col-12 col-sm-12 col-lg-6"> -->

    <div class="item item-odd">
      <h2>
        Doom
      </h2>
      <div class="row" >
        <div class="col-0 col-sm-0 col-md-3 col-lg-3">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <img src="/assets/images/Doom-game.png" class="mat-card-image">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <p>
                There are many examples of deep learning models playing computer games. But not so many deep learning models emulating a computer game. 
                <br/>
                <br/> 
                This application is running a neural network that predicts the next frame based on the previous few frames and the key board inputs. 
                <br/> 
                <br/> 
                It makes use of an autoencoder model in order to encode and decode the frames to and from a condence latenspace. And a recurrent neural network is used to extrapolate these lantenspaces to determine the next state.
                <br/>
                <br/> 
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <p>
                Play the game
                <br/>
                <button mat-button routerLink="/projects/doom">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Game
                </button>
                <br/> 
                You do rather want to create your one frames instead of playing the game? I got you covered fam.
                <br/> 
                <button mat-button routerLink="/projects/doom-sliders">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Sliders
                </button>
                <br/>
              </p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item item-even">
      <h2>
        Not-Pokemon
      </h2>
      <div class="row" >
        <div class="col-0 col-sm-0 col-md-3 col-lg-3">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <img src="/assets/images/Not-Pokemon-2.png" class="mat-card-image">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <p>
                There are many examples of deep learning models playing computer games. But not so many deep learning models emulating a computer game. 
                <br/>
                <br/> 
                This application is running a neural network that predicts the next frame based on the previous few frames and the key board inputs. 
                <br/> 
                <br/> 
                It makes use of an autoencoder model in order to encode and decode the frames to and from a condence latenspace. And a recurrent neural network is used to extrapolate these lantenspaces to determine the next state.
                <br/>
                <br/> 
              </p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <p>
                Draw your own Not-Pokemon
                <br/>
                <button mat-button routerLink="/projects/not-a-pokemon-generator">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> Generator
                </button>
                <br/> 
                Checkout the creations of others and yourself!
                <br/> 
                <button mat-button routerLink="/projects/not-pokedex">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Not-Pokedex
                </button>
                <br/>
              </p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--             <mat-card>
              <mat-card-title>
                Doom
              </mat-card-title>
              <img mat-card-image src="/assets/images/Doom-game.png" class="mat-card-image">
              <mat-card-content>
                <button mat-button routerLink="/projects/doom">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Game
                </button>
                <br/>
                <button mat-button routerLink="/projects/doom-sliders">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Sliders
                </button> -->
                <!-- <br/> -->
<!--                 <button mat-button routerLink="https://www.youtube.com/watch?v=WIN3ZIk-8K0">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Part 1) Encoding and decoding 
                </button>
                <br/>
                <button mat-button routerLink="https://youtu.be/7BpJSMsLkwI">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Part 2) Predicting latentspace vectors
                </button> -->
<!--               </mat-card-content>
            </mat-card>
            <br/> -->
<!--           </div>

          <div class="col-12 col-sm-12 col-lg-6"> -->
<!--             <mat-card>
              <mat-card-title>
                Not-Pokemon
              </mat-card-title>
              <img mat-card-image src="/assets/images/Not-Pokemon-2.png" class="mat-card-image">
              <mat-card-content>
                <button mat-button routerLink="/projects/not-a-pokemon-generator">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> Generator
                </button>
                <br/>
                <button mat-button routerLink="/projects/not-pokedex">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Not-Pokedex
                </button> -->
<!--                 <br/>
                <button mat-button routerLink="https://youtu.be/P4J45rGY3Gc">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Who's not that Pokemon?
                </button> -->
<!--               </mat-card-content>
            </mat-card>
            <br/> -->
          <!-- </div> -->
        <!-- </div> -->
<!--       </div>
    </div> -->
  </div>
  <br>
</body>