<h1>
  Projects
</h1>
<body>
  <div class="game-row">
    <div class="row" >
      <div class="col-0 col-sm-0 col-md-3">
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="row" >
          <div class="col-12 col-sm-12 col-lg-6">
            <mat-card>
              <mat-card-title>
                Doom
              </mat-card-title>
              <img mat-card-image src="/assets/images/Doom-game.png" class="mat-card-image">
              <mat-card-content>
                <button mat-button routerLink="/projects/doom">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Game
                </button>
                <br/>
                <button mat-button routerLink="/projects/doom-sliders">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Sliders
                </button>
                <!-- <br/> -->
<!--                 <button mat-button routerLink="https://www.youtube.com/watch?v=WIN3ZIk-8K0">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Part 1) Encoding and decoding 
                </button>
                <br/>
                <button mat-button routerLink="https://youtu.be/7BpJSMsLkwI">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Part 2) Predicting latentspace vectors
                </button> -->
              </mat-card-content>
            </mat-card>
            <br/>
          </div>

          <div class="col-12 col-sm-12 col-lg-6">
            <mat-card>
              <mat-card-title>
                Not-Pokemon
              </mat-card-title>
              <img mat-card-image src="/assets/images/Not-Pokemon-2.png" class="mat-card-image">
              <mat-card-content>
                <button mat-button routerLink="/projects/not-a-pokemon-generator">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> Generator
                </button>
                <br/>
                <button mat-button routerLink="/projects/not-pokedex">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Not-Pokedex
                </button>
<!--                 <br/>
                <button mat-button routerLink="https://youtu.be/P4J45rGY3Gc">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span> 
                  Video: Who's not that Pokemon?
                </button> -->
              </mat-card-content>
            </mat-card>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</body>