<html>
  <div class="wrapper">
    <h1>
      Projects
    </h1>
    <body>
    <!--     <div class="row" >
          <div class="col-0 col-sm-0 col-md-3">
          </div>
          <div class="col-12 col-sm-12 col-md-6"> -->
    <!--         <div class="row" >
              <div class="col-12 col-sm-12 col-lg-6"> -->


        <div class="item item-odd">
          <h2>
            Artificial recipes
          </h2>
          <div class="row" >
            <div class="col-0 col-sm-0 col-md-1 col-lg-3">
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <img src="/assets/images/Doom-game.png" class="mat-card-image">

                  <p>
                    <!-- Play the game -->
                    <br/>
                    <button mat-button routerLink="/projects/recipes">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Check out the recipes
                    </button>
                    <br/> 
                    <br/> 
                  </p>
                  <br/>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <p>
                    Computers don't need food. That's great and all but we do! So make me a sandwich! Or some other food item please.
                    <br/> 
                    <br/> 
                    A text generation model GPT-2 is finetuned to predict the next word of a recipe. During the training it generates a title, categories, the ingredients, the instructions and a review in that order.
                    <br/> 
                    <br/> 
                    So pick one you like and make it yourself! But use our commens sense to verify that the food is safe to eat.
<!--                     <br/> 
                    Check out the videos
                    <br/> 
                    <br/> 
                    <a href="https://www.youtube.com/watch?v=WIN3ZIk-8K0"><button mat-button>Part 1) Encoding and decoding</button></a>
                    <br/> 
                    <br/> 
                    <a href="ttps://youtu.be/7BpJSMsLkwI"><button mat-button>Part 2) Predicting latentspace vectors</button></a> -->
                  </p>
                </div>
    <!--             <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                </div> -->
              </div>
            </div>
          </div>
        </div>



        <div class="item item-even">
          <h2>
            Not-Pokemon
          </h2>
          <div class="row" >
            <div class="col-0 col-sm-0 col-md-1 col-lg-3">
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <p>
                    Having drawings skills is one thing, but getting inspiration is something else. Becoming inspired for your next design comes most of the times from the outside. Can an artificial intelligence help with this?
                    <br/>
                    <br/> 
                    This is where PokeGAN comes in. it creates a rough layout for a Not-Pokemon which can be transformed into something amazing.
                    <br/> 
                    <br/> 
                    You want to try it but not draw something? That is also fine! Drawing is optional (but a lot of fun though). Don't worry about your drawing skills I didn't do that well either ;)
                    <br/>
                    <br/> 
                  </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <img src="/assets/images/Not-Pokemon-2.png" class="mat-card-image">
                  <p>
                    
                    <br/>
                    <button mat-button routerLink="/projects/not-a-pokemon-generator">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Make your own Not-Pokemon
                    </button>
                    <br/> 
                    <br/> 
                    Checkout the creations of others and yourself!
                    <br/> 
                    <br/> 
                    <button mat-button routerLink="/projects/not-pokedex">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Not-Pokedex
                    </button>
                    <br/>
                  </p>
                  <br/>
                </div>
    <!--             <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-6">
                  
                </div> -->
              </div>
            </div>
          </div>



          
        </div>

        <div class="item item-odd">
          <h2>
            Doom
          </h2>
          <div class="row" >
            <div class="col-0 col-sm-0 col-md-1 col-lg-3">
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <img src="/assets/images/Doom-game.png" class="mat-card-image">

                  <p>
                    <!-- Play the game -->
                    <br/>
                    <button mat-button routerLink="/projects/doom">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Play the game
                    </button>
                    <br/> 
                    <br/> 
                    You rather want to create your one frames instead of playing the game? I got you covered fam.
                    <br/> 
                    <br/> 
                    <button mat-button routerLink="/projects/doom-sliders">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Sliders
                    </button>
                    <br/>
                  </p>
                  <br/>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <p>
                    There are many examples of deep learning models playing computer games. But not so many deep learning models emulating a computer game. 
                    <br/>
                    <br/> 
                    This application is running a neural network that predicts the next frame based on the previous few frames and the key board inputs. 
                    <br/> 
                    <br/> 
                    It makes use of an autoencoder model in order to encode and decode the frames to and from a condense latent space. And a recurrent neural network is used to extrapolate these lantent spaces to determine the next state.
                    <br/>
<!--                     <br/> 
                    Check out the videos
                    <br/> 
                    <br/> 
                    <a href="https://www.youtube.com/watch?v=WIN3ZIk-8K0"><button mat-button>Part 1) Encoding and decoding</button></a>
                    <br/> 
                    <br/> 
                    <a href="ttps://youtu.be/7BpJSMsLkwI"><button mat-button>Part 2) Predicting latentspace vectors</button></a> -->
                  </p>
                </div>
    <!--             <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                </div> -->
              </div>
            </div>
          </div>
        </div>


    <!--             <mat-card>
                  <mat-card-title>
                    Doom
                  </mat-card-title>
                  <img mat-card-image src="/assets/images/Doom-game.png" class="mat-card-image">
                  <mat-card-content>
                    <button mat-button routerLink="/projects/doom">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Game
                    </button>
                    <br/>
                    <button mat-button routerLink="/projects/doom-sliders">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Sliders
                    </button> -->
                    <!-- <br/> -->
    <!--                 <button mat-button routerLink="https://www.youtube.com/watch?v=WIN3ZIk-8K0">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Video: Part 1) Encoding and decoding 
                    </button>
                    <br/>
                    <button mat-button routerLink="https://youtu.be/7BpJSMsLkwI">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Video: Part 2) Predicting latentspace vectors
                    </button> -->
    <!--               </mat-card-content>
                </mat-card>
                <br/> -->
    <!--           </div>

              <div class="col-12 col-sm-12 col-lg-6"> -->
    <!--             <mat-card>
                  <mat-card-title>
                    Not-Pokemon
                  </mat-card-title>
                  <img mat-card-image src="/assets/images/Not-Pokemon-2.png" class="mat-card-image">
                  <mat-card-content>
                    <button mat-button routerLink="/projects/not-a-pokemon-generator">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> Generator
                    </button>
                    <br/>
                    <button mat-button routerLink="/projects/not-pokedex">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Not-Pokedex
                    </button> -->
    <!--                 <br/>
                    <button mat-button routerLink="https://youtu.be/P4J45rGY3Gc">
                      <span class="material-icons">
                        keyboard_arrow_right
                      </span> 
                      Video: Who's not that Pokemon?
                    </button> -->
    <!--               </mat-card-content>
                </mat-card>
                <br/> -->
              <!-- </div> -->
            <!-- </div> -->
    <!--       </div>
        </div> -->
    </body>
  </div>
</html>