

ul {
	list-style:none;
	padding:0;
	margin: 0;
	display: flex;
	float:right;
}

.header-item {
	text-decoration: none;
	color: white;
	height:100%;
	/*font-size: 14px;*/
}
.filler {
   flex: 1 1 auto;
}

.loggedIn{
	color:green;
}
.auth{
	/*color:green;*/
}