.game-row{
	background-color: black;
	width:100%;
	min-height: 400px;
	text-align:center;
}
.start-button-holder{
	width:100%;
	margin-top: 200px;
	color:blue;
}
.button-panel{
	width:440px;
	margin-left: calc(50vw - 220px);
}
h1 {
	margin-top: 30px;
	text-align:center;
}
h2 {
	text-align:center;
}
label{
	font-weight: bold;
}
body{
	width:100vw;
}
.variable-value{
	width:50px;
	border: none;
	text-align: center;
	display: inline-block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.variable-value-label{
	width:120px;
	display: inline-block;

}
.redraw-button{
	min-width:calc(100% - 2 * 40px);
}
.side-button{
	width:40px;
}

.pokemon-style{
	font-family: "Pokemon Solid";
	font-size:30px;
}

h2{
	font-family: "8-bit";
	color:#999999;
}
.starter:hover{
	border-color: gold;
	border-width: 5px;
	border-style: solid;
}
.starter{
	padding: 5px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

.bit8{
	font-family: "8-bit";
	color:white;
 }

.text-input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	font-family: "Pokemon Solid";
	color:white;
}
