<html>
  <div class="wrapper">
    <h1>
      Authenticate
    </h1>
    <div class="row" >
      <div class="col-0 col-sm-2 col-md-3 col-lg-4">
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <span *ngIf="!userIsAuthenticated">
          <app-signup (save)="onSignup($event)"></app-signup>
          <br/>
        </span>
        <span *ngIf="!userIsAuthenticated">
          <app-signin (save)="onSignin($event)"></app-signin>
          <br/>
        </span>
        <span *ngIf="userIsAuthenticated">
          <mat-card>
            <mat-card-title (click)="onLogout()">
              Logout
            </mat-card-title>
          </mat-card>
        </span>
      </div>
    </div>
  </div>
</html>