/* You can add global styles to this file, and also import other style files */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
font-family: 'Pokemon Solid';
src: url('assets/fonts/pokemon/Pokemon Solid.ttf')  format('truetype');
}

@font-face {
font-family: 'Pokemon Hollow';
src: url('assets/fonts/pokemon/Pokemon Hollow.ttf')  format('truetype');
}

@font-face {
font-family: '8-bit';
src: url('assets/fonts/8bit/8-BIT WONDER.TTF')  format('truetype');
}

@font-face {
font-family: 'dancingScript';
src: url('assets/fonts/dancingScript/DancingScript-VariableFont_wght.ttf')  format('truetype');
}