h1{
	font-family: "dancingScript";
	text-align: center;
	font-size:70px;
	height:70px;
}


h2{
	font-family: "dancingScript";
	font-size:40px;
	height:40px;
}

label{
	font-style: italic;
	font-size:24px;
}


mat-card-content{
	color:#333;
}

.description{
	background-color:#e2f0cb;
	color:#333;
}

.recipes{
	font-family: "dancingScript";
	color:#333;
	font-size: 30px;
}

.more-recipes{
	text-align: center;
}
.star{
	color:gray;
}
.happy-star{
	color:#fefe95;
}

img{
  color: #111;
  border-radius: 50%;
  text-align: center;
  font-size: 90px;
  float: left;
  shape-outside: ellipse();
  padding: 10px;
  background-color: MediumPurple;
  background-clip: content-box;
}
.review{
	display:block;
	min-height:50px;
	font-style: italic;
	/*width:calc(100% - 200px);*/
    /*width: 300px;*/
	/*background-color: red;*/
}
.review-label {
	/*width:50px;*/
	display:inline-block;
}
.rating{
	width:100px;
	float:right;
	display:inline-block;
	text-align: center;
    /*width: 300px;*/
	min-height:50px;
	/*background-color: green;*/
}
label{
	font-size:14px;
	font-weight: bold;
}

.category{
	border-radius: 25px;
	/*background: #73AD21;*/
	padding: 15px;
	width: 200px;
	height: 150px;
	margin: 1px;
	/*padding: 5px;*/
	background: #b5ead7;
	border-color:#a5dac7;
	-webkit-box-shadow: 3px 4px 2px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 2px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 2px -2px rgba(0,0,0,0.75);
}