<mat-card>
  <mat-card-title>
    Edit Pokemon card
  </mat-card-title>
  <mat-card-content *ngIf="notPokemonCard"> 
    <label>Name</label>
    <br/>
    <input [(value)]="notPokemonCard.name">
    <br/>
    <label>Types</label>
    <br/>
    <input class="type" [(value)]="notPokemonCard.type1">
    <input class="type" [(value)]="notPokemonCard.type2">
    <input class="type" [(value)]="notPokemonCard.type3">
    <br/>
    <label>Description</label>
    <br/>
    <textarea [(value)]="notPokemonCard.description"></textarea>
    <br/>
    <label>Likes</label>
    <br/>
    <input type="number" [(value)]="notPokemonCard.likes">
    <br/>
    <label>Reports</label>
    <br/>
    <input type="number" [(value)]="notPokemonCard.reports">
    <br/>

    <label> Generated image</label>
    <br/>
    <img #myImage *ngIf="notPokemonCard.src" src={{notPokemonCard.src}} width="124" height="124"/>
    <input #myImageInput type="file" hidden="true" class="upload-button" (change)="selectImage($event)" accept="image/x-png,image/gif,image/jpeg">
    <button mat-flat-button color="primary" (click)="myImageInput.click()">Select generated image</button>
    <button [disabled]="!notPokemonCard.image" mat-flat-button color="primary" (click)="onUploadMyImage()">Upload</button>
    <input [(value)]="notPokemonCard.src">
    <br/>

    <label> Redesigned image</label>
    <br/>
    <img #redesignImage src={{notPokemonCard.redesignSrc}} width="124" height="124"/>
    <input #redesignImageInput type="file" hidden="true" class="upload-button" (change)="selectRedesignImage($event)" accept="image/x-png,image/gif,image/jpeg">
    <button mat-flat-button color="primary" (click)="redesignImageInput.click()">Select your redesign</button>
    <button [disabled]="!notPokemonCard.redesignImage" mat-flat-button color="primary" (click)="onUploadRedesignImage()">Upload</button>
    <input [(value)]="notPokemonCard.redesignSrc">
    <br/>

    <input [(value)]="notPokemonCard.trainerName">
    <br/>
    <label>Generator code</label>
    <input [(value)]="notPokemonCard.encodedGeneratorValue">
    <br/>
    <label>ID</label>
    <input [(value)]="notPokemonCard._id">
    <br/>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>